---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=nyt_api_key&begin_date=18510101&end_date=18510101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-01.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":0,"time":56,"offset":0},"docs":[]},"status":"OK","copyright":"Copyright
        (c) 2013 The New York Times Company.  All Rights Reserved."}'
  recorded_at: Wed, 23 Sep 2015 01:12:15 GMT
recorded_with: VCR 2.9.3
