---
http_interactions:
- request:
    method: get
    uri: http://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=&begin_date=19790105&end_date=19790105
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-atl-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"response":{"meta":{"hits":207,"time":116,"offset":0},"docs":[{"web_url":"http:\/\/query.nytimes.com\/gst\/abstract.html?res=9F0CEEDA1039E732A25756C0A9679C946890D6CF","snippet":"BOSTON,
        Jan. 4 (AP) The largest study ever conducted on women who take estrogen in
        menopause concludes that the medicine can cause cancer of the uterus and that
        the risk increases the longer the medicine is used.","lead_paragraph":"BOSTON,
        Jan. 4 (AP) The largest study ever conducted on women who take estrogen in
        menopause concludes that the medicine can cause cancer of the uterus and that
        the risk increases the longer the medicine is used.","abstract":"Johns Hopkins
        Univ study links use of estrogen taken during menopause to uterine cancer
        and says risk increases at 5 yrs or more of use; study, published in NE Journal
        of Med, contradicts Yale Univ rept indicating estrogen-cancer link was based
        on faulty research (M)","print_page":"A21","blog":[],"source":"The New York
        Times","multimedia":[],"headline":{"main":"LINKS OF ESTROGEN TO CANCER REVIVED;
        Johns Hopkins Study Rebuts Yale Report High Risk Found in Uterus After 5-Year
        Use U.S.Official Urges Caution The Factors Considered"},"keywords":[{"name":"subject","value":"CANCER"},{"name":"subject","value":"MENOPAUSE"}],"pub_date":"1979-01-05T00:00:00Z","document_type":"article","news_desk":null,"section_name":null,"subsection_name":null,"byline":null,"type_of_material":"Article","_id":"4fc4a36345c1498b0daaf745","word_count":498},{"web_url":"http:\/\/query.nytimes.com\/gst\/abstract.html?res=9B06EFDA1039E732A25756C0A9679C946890D6CF","snippet":"Mayor
        Koch yesterday announced a series of cuts he is likely to order to close next
        year''s budget gap, and said he was relying on the state and Federal governments
        to give the city more than two-thirds of the $439 million it needs to eliminate
        the...","lead_paragraph":"Mayor Koch yesterday announced a series of cuts
        he is likely to orde[...]
